/*
 * Navbar & header.
 * ---------------------------------------------------------------------
 */

h1 {
  font-size:100%;
  display:inline-block;
  vertical-align:middle;
  padding:0;
  margin:0;
  text-transform : uppercase;
}

h1 small {
  font-size : inherit;
  text-transform : none;
}

h2 {
  font-size: 160%;
}

h2 small {
  font-size: inherit;
}

i {
  position:relative;
  top:1px;
}

h1 i, h2 i, h3 i, h4 i {
  top:5px;
}


.navbar .brand {
  margin:0;
  padding:0;
}

.nav-collapse {
  float:right;
}

.nav, .navbar-text {
  display:inline-block;
}


/*
 * Footer.
 * ---------------------------------------------------------------------
 */

footer {
  min-height: 200px;
}

footer .container {
  margin-top:10px;
  text-align:center;
}

/*
 * Explorer.
 * ---------------------------------------------------------------------
 */

h3 .badge {
  line-height: inherit;
  font-size: 100%;
}

/*
 * Documentation.
 * ---------------------------------------------------------------------
 */

pre {
  min-height: 400px;
}

blockquote p {
  padding-top: 10px;
  min-height: 180px;
}

/*
 * Table.
 * ---------------------------------------------------------------------
 */

table tr:hover td {
  background-color: rgba(2, 80, 196, 0.1) !important;
}

.table tr.even td.sorting_1, .table tr.odd td.sorting_1 {
  border-left: 1px dashed #0259C4;
  border-right: 1px dashed #0259C4;
}
